@tailwind base;
@tailwind components;
@tailwind utilities;

.converter {
    width: 34rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.submit {
    height: 4.5rem;
}

.swap {
    height: 10px;
    display: flex;
    justify-content: center;
}

.swap button {
    position: relative;
    bottom: 17px;
}

.tittle label {
    margin-top: 3px;
    position: relative;
    top: 6px;
}